/* Styling The Body */

body {
    margin-top: 20px;
    text-align: center;
    background-color: aqua;
}


/* Styling The Header */

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 44, 51);
    margin: 45px;
    border-radius: 4px;
    font-family: magneto;
    color: white;
}


/* Styling The Contact Table */

#table {
    text-align: center;
    margin-top: 50px;
}

#table table {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 4px;
}

#table tr:hover {
    background-color: rgb(99, 97, 97);
}

#table td h5 {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#table td img {
    border: 2px solid gray;
    margin: 1px;
}


/* Styling The Refresh Button */

#refresh {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 500;
    height: 50px;
    background-color: rgb(150, 147, 147);
    padding: 5px;
    border: 2px solid rgb(46, 44, 51);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: black;
}

#refresh:hover {
    background-color: rgb(46, 44, 51);
    border: 2px solid rgb(150, 147, 147);
    color: white;
}


/* Styling The Add Contact Button */

#addContact {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: 500;
    height: 50px;
    background-color: greenyellow;
    padding: 5px;
    border: 2px solid green;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: black;
}

#addContact:hover {
    background-color: green;
    border: 2px solid greenyellow;
    color: white;
}


/* Styling The Inputs */

input {
    margin-top: 5px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 4px;
}


/* Styling The Labels for The Inputs */

label {
    font-family: Arial, Helvetica, sans-serif;
}


/* Styling The Submit Button */

#submitForm {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    padding: 5px;
    border: 2px solid green;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-top: 5px;
}

#submitForm:hover {
    background-color: green;
    border: 2px solid greenyellow;
    color: white;
}


/* Styling The Home Button */

#homeLink {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 500;
    height: 50px;
    background-color: rgb(150, 147, 147);
    padding: 5px;
    border: 2px solid rgb(46, 44, 51);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: black;
}

#homeLink:hover {
    background-color: rgb(46, 44, 51);
    border: 2px solid rgb(150, 147, 147);
    color: white;
}


/* Styling The Edit Conatact Button */

#editContact {
    width: 40%;
    height: 50px;
    background-color: rgb(150, 147, 147);
    padding: 5px;
    border: 2px solid rgb(46, 44, 51);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 120px;
}

#editContact:hover {
    background-color: rgb(46, 44, 51);
    border: 2px solid rgb(150, 147, 147);
    color: white;
}


/* Styling Delete Contact Button */

#deleteContact {
    width: 40%;
    height: 50px;
    background-color: rgb(243, 107, 107);
    padding: 5px;
    border: 2px solid red;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-bottom: 70px;
}

#deleteContact:hover {
    background-color: red;
    border: 2px solid rgb(243, 107, 107);
    color: white;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/* Styling The Avatar Image For The Edit Page */

#avatarImage img {
    border: 2px solid rgb(46, 44, 51);
    border-radius: 3px;
}

#avatarImage img:hover {
    border: 2px solid rgb(150, 147, 147);
}


/* Styling Responsive Layout */

@media(max-width:768px) {
    #editForm input {
        margin-bottom: 5px;
    }
    #editForm #avatarLabel {
        float: left;
    }
    div #avatarLabel {
        float: left;
    }
    #avatar {
        float: left;
    }
    #deleteContact {
        width: 35%;
    }
    #editContact {
        width: 35%;
        margin-left: 78px;
    }
}